Repository xtreamwayz/psr-container-messenger, pull requests merged in 2020-09, with the labels that each got.

#41 docs: update website link
  README.md
Labels: docs

#42 ci: remove build docs workflow
  .github/workflows/build-docs.yml
Labels: ci

#44 test: Use Laminas namespace instead of Zend
  test/CommandBusTest.php
  test/ConfigProviderTest.php
  test/Container/HandleMessageMiddlewareFactoryTest.php
  test/Container/TransportFactoryTest.php
  test/EventBusTest.php
  test/QueryBusTest.php
  test/TransportTest.php
Labels: test

#43 feat(serializer): Allow the default serializer to be configurable
  composer.json
  composer.lock
  src/ConfigProvider.php
  src/Container/TransportFactory.php
  src/Serializer/SymfonySerializerFactory.php
  test/Serializer/SymfonySerializerFactoryTest.php
  test/SerializerTest.php
Labels: feat

#46 test: add integration tests for more containers
  composer.json
  composer.lock
  phpunit.xml.dist
  test/ConfigProviderTest.php
  test/Integration/AuraDiTest.php
  test/Integration/LaminasServiceManagerTest.php
  test/Integration/PimpleTest.php
Labels: test

#47 ci: create new milestones after release
  .github/workflows/automatic-release.yml
Labels: ci
