Repository xtreamwayz/psr-container-messenger, pull requests merged in 2020-12, with the labels that each got.

#51 Composer 2
  composer.json
  composer.lock
  src/Container/TransportFactory.php
Labels: build

#52 build: PHP 8 support
  .github/workflows/phpunit.yml
  composer.json
  composer.lock
Labels: build

#53 ci: conventional commit pr title check
  .github/workflows/conventional-pr-title.yml
Labels: ci

#54 ci: merged notification action
  .github/workflows/merged-notification.yml
Labels: ci

#55 ci: fix merged notification
  .github/workflows/merged-notification.yml
Labels: ci

#56 ci: auto label pr
  .github/labeler.yml
  .github/workflows/auto-label-prs.yml
Labels: ci

#57 ci: run actions on push
  .github/workflows/auto-label-prs.yml
  .github/workflows/automatic-release.yml
  .github/workflows/coding-standards.yml
  .github/workflows/merged-notification.yml
  .github/workflows/phpunit.yml
  .github/workflows/static-analysis.yml
  composer.lock
Labels: build, ci

#59 ci: update workflow and composer config
  .github/workflows/auto-label-prs.yml
  .github/workflows/phpunit.yml
  .gitignore
  composer.json
  composer.lock
Labels: ci

#60 ci: synchronize workflows
  .github/workflows/automatic-release.yml
  .github/workflows/coding-standards.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/merged-notification.yml
  .github/workflows/static-analysis.yml
  .gitignore
  composer.json
Labels: ci

#62 feat: laminas coding standard
  composer.json
  phpcs.xml.dist
  phpstan.neon.dist
Labels: build

#63 docs: update copyright to 2021
  LICENSE.md
Labels: docs
